{% extends "base.html" %}
{% block title %} Contact us page {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/contact.css')}}">
{% endblock %}

{% block content %}
<h3>Contact Us</h3>
<div class="contacts">

    <a href="mailto:mr.gaurav8500@gmail.com">
        <img src="{{ url_for('static', filename='images/emaillogo.png') }}" alt="Email">
    </a>
    <a href="https://wa.link/d45as0">
        <img src="{{url_for('static', filename='images/watsapplogo.jpg' )}}" alt="Whatsapp">
    </a>

</div>
{% endblock %}